@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.wrapper {
    width: 40%;
    margin: 0 auto;
    font-family: 'Roboto';
    padding: 40px;
    background-color: #c1e1ec;
    border-radius: 20px;

    .name {
        font-size: 24px;
        line-height: normal;
    }

    p {
        line-height: 1px;
        font-size: 16px;
    }

    .counter {
        background-color: #F5BBF8;
        border-radius: 10px;
        padding: 10px;
        margin-top: 40px;
        font-weight: 500;
    }
}