.wrapper {
    background-color:#c1e1ec;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    margin-top: 50px;

    p {
        text-align: center;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 20px;
        margin: 0
    }
}